{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
          {% block title%}
      
          {% endblock %}
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'gues/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'gues/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- NAV BAR AND LOGO DIV -->
        {% include 'survey/navbar.html' %}
        <!-- END NAV BAR AND LOGO DIV -->

        {% include 'survey/header.html' %}
          {% block content %}
  
          {% endblock content %}
        </div>
        {% include 'survey/footer.html' %} 
  </body>
</html>
