body {
    background: #f8f9fa;
}
.form-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/* body {
    background: #f8f9fa;
}
.form-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
} */